.main_layout{
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

header{
    grid-area: header;
}

.side_content{
    grid-area: sidebar;
}

.main_content{
    grid-area: content;
}
