.main_layout{
    /* max-width: 800px; */
    margin: auto;
    width: 21cm;
    display: grid;
    gridtemplate-columns: repeat(9, 1fr);
      grid-auto-rows: minmax(100px, auto);
      grid-template-areas:
        "header_left header_right"
        "side main"
        "footer footer";
    gap: 20px;
}

.left_header{
    grid-area: header_left;
}

.right_header{
    grid-area: header_right;
}

.side_content{
    grid-area: side;
}

.main_content{
    grid-area: main;
}

.title_left{
    font-style: normal;
    color: mediumseagreen;
}
